<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:context="http://www.springframework.org/schema/context"
    xmlns:tx="http://www.springframework.org/schema/tx"
    xmlns:aop="http://www.springframework.org/schema/aop"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
				        http://www.springframework.org/schema/beans/spring-beans.xsd
				        http://www.springframework.org/schema/context
				        http://www.springframework.org/schema/context/spring-context.xsd
				        http://www.springframework.org/schema/tx  
				        http://www.springframework.org/schema/tx/spring-tx.xsd
				        http://www.springframework.org/schema/aop
				        http://www.springframework.org/schema/aop/spring-aop.xsd">
 	
	<!-- 
	
			<aop:before method="before" pointcut-ref="addAllMethod" />
            <aop:after method="after" pointcut-ref="addAllMethod" />
            <aop:after-returning method="after-returning"/>
            <aop:after-throwing method="after-throwing"/>
	
	 -->
    
	<bean id="counter" class="com.zk.aop.Counter" />
    <bean id="advice1" class="com.zk.aop.TimeHandler" />
    <bean id="advice2" class="com.zk.aop.Advice"></bean>
    
    <aop:config>
        <aop:aspect id="11" ref="advice1" order="3">
            <aop:pointcut id="pointcut1" expression="execution(* com.zk.aop.Counter.*(..))" />
            <aop:before method="before" pointcut-ref="pointcut1" />
            <aop:after method="after" pointcut-ref="pointcut1" />
        </aop:aspect>
        <aop:aspect id="22" ref="advice2" order="2">
            <aop:pointcut id="pointcut1" expression="@annotation(javax.persistence.Id)" />
            <aop:around method="around" pointcut-ref="pointcut1"/>
        </aop:aspect>
    </aop:config>
</beans>