<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
						http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
						http://www.springframework.org/schema/context
						http://www.springframework.org/schema/context/spring-context.xsd
						">
	<!--
	<context:component-scan base-package="com.zk.demo1031.extend.componet" />
	<context:annotation-config />
	 -->
	
	
	
	
	
	<bean id="task" class="com.zk.demo1025.Task"></bean>
	<bean id="taskRef" class="com.zk.demo1025.TaskRef"></bean>
	
	<bean id="_Autowired" class="org.springframework.beans.factory.annotation.AutowiredAnnotationBeanPostProcessor"></bean>
</beans>